@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --scroll-dist: 0;
}

@layer utilities {
  .h-radix-accordion {
    height: var(--radix-accordion-content-height);
  }

  .w-radix-accordion {
    width: var(--radix-accordion-content-width);
  }
}

@layer components {
  .structure {
    transform: scaleY(0%);
    transform-origin: bottom;
    transition: transform 200ms;
  }

  .structure.build {
    transform: scaleY(100%);
    transform-origin: bottom;
  }

  .window {
    visibility: hidden;
    transition: visibility 100ms;
  }

  .window.show {
    visibility: visible;
  }

  .tree {
    fill: rgb(51, 69, 101);
    transform: scale(20%, 0);
    transform-box: fill-box;
    transform-origin: bottom;
    transition: transform 0.5s cubic-bezier(0, 1, 0.75, 1);
  }

  .tree.grow {
    transform-box: fill-box;
    transform-origin: bottom;
    transform: scale(100%, 100%);
  }

  [data-transition-group] {
    opacity: 1;
    transform: translateY(0);
    transition: all 0.8s cubic-bezier(0.5, 0, 0.75, 1);
  }

  [data-transition-group].transition {
    opacity: 0;
    transform: translateY(-55%);
  }

  .scroll-btn {
    transform: translateY(0%);
    transition: transform 0.3s ease-out;
  }

  .scroll-btn.move-down {
    transform: translateY(200%);
  }

  .scroll-btn.navigate-down {
    transform: translateY(20vh);
  }

  .header,
  [data-subheader-main] {
    /* transform-origin: top; */
    transition: transform 0.5s;
  }
  .header.hide,
  [data-subheader-main].hide {
    transform: translateY(-10vh);
  }

  [data-info-container] {
    height: 100%;
    transform: translateY(0%);
    transition: all 0.5s;
  }

  [data-info-container].expand {
    height: 100%;
    transform: translateY(-9vh);
  }

  main {
    height: 100%;
    transition: height 0.5s;
  }

  main.expand {
    height: 105%;
    overflow: hidden;
  }

  .nav-scroll:hover {
    /* z-index: 10; */
    background: radial-gradient(
        farthest-side at 50% 0,
        rgba(255, 255, 255, 0.1),
        rgba(0, 0, 0, 0)
      )
      center top;
  }
}
