@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .h-radix-accordion {
    height: var(--radix-accordion-content-height);
  }

  .w-radix-accordion {
    width: var(--radix-accordion-content-width);
  }
}

@layer components {
  .structure {
    transform: scaleY(0%);
    transform-origin: bottom;
    transition: transform 500ms;
  }

  .structure.build {
    transform: scaleY(100%);
    transform-origin: bottom;
  }
}
