@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --scroll-dist: 0;
  --caption-width: 0;
  --info-cont-width: 0;
  --caption-container-top: 0;
  --caption-container-left: 0;
}

@layer utilities {
  .h-radix-accordion {
    height: var(--radix-accordion-content-height);
  }

  .w-radix-accordion {
    width: var(--radix-accordion-content-width);
  }

  /* For Webkit-based browsers (Chrome, Safari and Opera) */
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }

  /* For IE, Edge and Firefox */
  .scrollbar-hide {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

@layer components {
  .window {
    visibility: hidden;
    transition: all 100ms;
  }

  .window.show {
    visibility: visible;
  }

  .caret-posit-default {
    transform: translateY(-5vh);
    transition: transform 0.3s ease-out;
  }

  .scroll-btn.move-up {
    transform: translateY(-200%);
  }

  .header,
  [data-subheader-main] {
    transition: transform 0.5s;
  }

  [data-info-container] {
    transition: all 0.5s;
  }

  .nav-scroll:hover {
    background: radial-gradient(farthest-side at 50% 0, rgba(255, 255, 255, 0.1), rgba(0, 0, 0, 0)) center top;
  }

  [data-flavor-text] {
    opacity: 1;
    transition: opacity 0.2s ease-out;
  }

  [data-flavor-text].fade {
    opacity: 0;
  }
}
