<div>
  <h2 class="font-mono text-5xl">About Me</h2>
  <p class="text pt-8 font-mono text-2xl">
    Hi, I'm <b class="font-bold">Gabriel</b>. I'm a full-stack software engineer
    whose passion is creating fantastical apps and fun websites! <br />
    <br />
    <p class="text-3xl tracking-wide">
      &nbsp;.&nbsp;.&nbsp;. You <b class="text-4xl tracking-widest">dream</b>
       it, i'll handle the rest .&nbsp;.&nbsp;.
    </p>
    <!-- <br />
    <br />
     ... Show More &rtrif;<br />
     - Currently residing on the Olympic Peninsula in Washington State. <br />
     - Avid hiker and explorer. <br />
     - When at home and not coding, I enjoy cooking, gardening, and music. -->
  </p>
</div>
