<div>
  <h2 class="pb-2 font-mono text-3xl font-semibold">About Me</h2>
  <p class="w-fit text-2xl font-light">
    Hi, I'm <b>Gabriel</b>! I'm a full-stack software engineer who loves
    creating interesting apps and websites! <br /> You dream it, I'll handle the
    rest!
  </p>
</div>
