<div>
  <h2 class="pb-2 font-mono text-4xl font-semibold">About Me</h2>
  <p class="w-fit text-2xl font-light">
    Hi, I'm <b>Gabriel</b>. I'm a full-stack software engineer who loves
    creating fantastic and wonderful apps and websites! <br /> You dream it,
    I'll handle the rest!
    <br />
    <br />
     More... <br />
     - Currently residing on the Olympic Peninsula in Washington State. <br />
     - Avid hiker and explorer. <br />
     - When at home and not coding, I enjoy cooking, gardening, and music.
  </p>
</div>
