<div>
  <h2 class="font-mono font-semibold text-2xl pb-2">About Me</h2>
  <p class="font-light text-xl">
    Hi! I'm <b>Gabriel</b>, a full-stack software engineer who loves creating interesting apps and websites!
    You dream it, I'll handle the rest!
  </p>
</div>
