---
import { Image } from "astro:assets";
const { imgSrc } = Astro.props;
---
<div class="relative flex justify-center items-center h-full">
  <div class="absolute h-[27vh] w-[27vh] bg-moon-shine rounded-full"/>
  <div class="absolute h-[31vh] w-[31vh] bg-moon-shine rounded-full blur-sm"/>
  <div class="absolute h-[25vh] w-[25vh] rounded-full border-4 border-gray-400 overflow-hidden" >
    <Image src={imgSrc} class="-translate-y-[15%]" alt="Picture of me." width={256} height={256}/>
  </div>
</div>


