---
import { Image } from "astro:assets";
const { imgSrc } = Astro.props;
---

<div class="relative flex h-[40%] items-center justify-center">
  <div class="absolute h-[27vh] w-[27vh] rounded-full bg-moon-shine"></div>
  <div class="absolute h-[31vh] w-[31vh] rounded-full bg-moon-shine blur-sm">
  </div>
  <div
    class="absolute h-[25vh] w-[25vh] overflow-hidden rounded-full border-4 border-gray-400"
  >
    <Image
      src={imgSrc}
      class="-translate-y-[15%]"
      alt="Picture of me."
      width={256}
      height={256}
    />
  </div>
</div>
