---
const { imgSrc } = Astro.props
---
<div class="w-64 h-64 rounded-full border-4 border-gray-400 overflow-hidden z-10" >
  <img src={imgSrc} class="-translate-y-10 overflow-hidden"/>
</div>
<div class="absolute h-72 w-72 bg-moon-shine rounded-full translate-y-12"/>
<div class="absolute h-84 w-84 bg-moon-shine rounded-full translate-y-6 blur-sm"/>


