---
import { Icon } from "astro-icon";
import ContactInfo from "./ContactInfo";
---

<nav
  class="grid-cols-nav-lg grid h-16 w-full grid-rows-1 items-center text-gray-100"
>
  <div class="col-start-2 flex justify-center">
    <slot />
  </div>
  <section class="col-start-3 flex justify-end gap-3 text-2xl">
    <ContactInfo client:load />
    <span
      data-contact-info
      class="position: fixed -z-10 h-0 w-0 text-transparent"
      >gabrieljkime@gmail.com</span
    >
    <a href="resume#" target="_blank" class="decoration-double hover:underline"
      >Resume</a
    >
  </section>
  <div class="col-start-4 p-2 text-center text-3xl">|</div>
  <section class="col-start-5 flex">
    <a
      class="group flex items-center justify-center rounded-md p-1 pl-0 hover:bg-gray-100"
      href="https://github.com/wizardbusiness"
      target="_blank"
      ><Icon
        class="justify-center group-hover:text-gray-800"
        pack="ant-design"
        name="github-outlined"
        width="35"
        height="35"
      /></a
    >
    <a
      class="group flex rounded-md p-1 hover:bg-gray-100"
      href="https://www.linkedin.com/in/gabriel-kime/"
      target="_blank"
      ><Icon
        class="group-hover:text-gray-600"
        pack="ant-design"
        name="linkedin-outlined"
        width="35"
        height="35"
      /></a
    >
  </section>
</nav>
<script>
  const contactInfo = document.querySelector("[data-contact-info]").textContent;
  const selectContactInfoBtn = document.querySelector("[data-copy-info]");
  const copyInfo = () => {
    navigator.clipboard.writeText(contactInfo);
  };
  selectContactInfoBtn.addEventListener("click", () => copyInfo());
</script>
