---
import { Icon } from 'astro-icon';
---
<nav class="flex justify-end items-center h-16 w-full text-gray-100">
  <section class="text-2xl  flex gap-8">
    <span>&gt; <a href="contact#" class="hover:underline decoration-double">Contact</a></span>
    <a href="resume#" class="hover:underline decoration-double">Resume</a>
  </section>
  <div class="text-3xl p-8">|</div>
  <section class="flex">
    <a class="flex p-1 pl-0 group hover:bg-gray-100 rounded-md" href="https://github.com/wizardbusiness"><Icon class="group-hover:text-gray-800" pack="ant-design" name="github-outlined" width="35" height="35"/></a>
    <a class="flex p-1 group hover:bg-gray-100 rounded-md" href="https://www.linkedin.com/in/gabriel-kime/"><Icon class="group-hover:text-gray-600" pack="ant-design" name="linkedin-outlined" width="35" height="35"/></a>
  </section>
</nav>