---
import { Icon } from "astro-icon";
import ContactInfo from "./ContactInfo";
---

<nav class="flex h-16 w-full items-center justify-end text-gray-100">
  <section class="flex gap-8 text-2xl">
    <ContactInfo client:load />
    <span
      data-contact-info
      class="position: fixed -z-10 h-0 w-0 text-transparent"
      >gabrieljkime@gmail.com</span
    >
    <a href="resume#" class="decoration-double hover:underline">Resume</a>
  </section>
  <div class="p-8 text-3xl">|</div>
  <section class="flex">
    <a
      class="group flex rounded-md p-1 pl-0 hover:bg-gray-100"
      href="https://github.com/wizardbusiness"
      ><Icon
        class="group-hover:text-gray-800"
        pack="ant-design"
        name="github-outlined"
        width="35"
        height="35"
      /></a
    >
    <a
      class="group flex rounded-md p-1 hover:bg-gray-100"
      href="https://www.linkedin.com/in/gabriel-kime/"
      ><Icon
        class="group-hover:text-gray-600"
        pack="ant-design"
        name="linkedin-outlined"
        width="35"
        height="35"
      /></a
    >
  </section>
</nav>
<script>
  const contactInfo = document.querySelector("[data-contact-info]").textContent;
  const selectContactInfoBtn = document.querySelector("[data-copy-info]");
  const copyInfo = () => {
    navigator.clipboard.writeText(contactInfo);
  };
  selectContactInfoBtn.addEventListener("click", () => copyInfo());
</script>
