---
import { Icon } from "astro-icon";
---
<div class="flex flex-col text-center items-center text-gray-400 animate-pulse w-20 translate-y-32 hover:animate-none cursor-pointer">
  <span class=" translate-y-3 text-lg">Scroll</span>
  <Icon pack="ph" name="caret-down" height="60" width="60" class="text-gray-100 "/>
</div>