---
import TechList from "./TechList.tsx"
---
<div>
  <h2 class="font-mono font-semibold text-2xl pb-3">Tech I Use</h2>
  <TechList categories={['Languages', 'Runtime', 'Frameworks/Libraries', 'Testing', 'Deployment']}/>
</div>