---
import MainLayout from "../layouts/main-layout.astro";
---

<MainLayout>
  <div
    slot="page"
    class="flex h-screen w-screen -translate-y-[10vh] flex-col items-center justify-center gap-[6vh]"
  >
    <div class="text-7xl font-light italic text-gray-300 drop-shadow-[0_4px_0.5px_rgba(175,175,175,1)]">
      404
    </div>
    <div
      class="uppercase italic text-gray-300 drop-shadow-[0_5px_0.5px_rgba(175,175,175,1)] lg:text-8xl xl:text-9xl"
    >
      Lost In Space
    </div>
  </div>
</MainLayout>
