<section class="p-5">
  <h2 class="font-mono font-semibold text-2xl pb-2">About</h2>
  <p class="font-light text-xl">
    Hello, I'm <b>Gabriel</b>, a full-stack developer who loves creating interesting apps and websites!
    You dream it, I build it!
  </p>
</section>