---
import Nav from "./components/Nav.tsx";
import MainLayout from "../layouts/main-layout.astro"
---
<MainLayout>
  <section>
    <h2>Portfolio</h2>
    <a>Stewpot</a>
    <a>Plantr</a>
    <a>SeeQr</a>   
  </section>
  <section>
    <h3>Socials</h3>
    <a href="https://github.com/wizardbusiness">Github</a>
    <a href="https://www.linkedin.com/in/gabriel-kime/">LinkedIn</a>
  </section>
  <section>
    <h3>About</h3>
    <p>Full Stack Software Engineer with a focus on frontend development and stylish, functional UX</p>
  </section>  
</MainLayout>

