---
import LandingLayout from "../layouts/landing-layout.astro";
import ScrollToPageBtn from "../components/PageScroll.astro";
import Nav from "../components/Nav.astro";
import TaglineContainer from "../components/TaglineContainer";
import TaglineMsg from "../components/TaglineMsg";
import Avatar from "../components/Avatar.astro";
import avatarImg from "../images/BeachHeadshotB&W.png";
---

<LandingLayout>
  <Nav slot="nav" />
  <Avatar slot="avatar" imgSrc={avatarImg} />
  <div slot="title" class="h-fit text-gray-200 lg:p-8">
    <h1
      class="p-3 text-center font-mono text-4xl lg:text-9xl lg:tracking-tighter"
    >
      Gabriel Kime
    </h1>
    <h2 class="p-3 text-center font-mono text-2xl tracking-tighter lg:text-4xl">
      Full-Stack Developer
    </h2>
  </div>
  <TaglineContainer slot="subheader" repositTxt={false} animateBg={false}>
    <TaglineMsg
      msg="Dream it. Build it."
      blinkCursor
      transition:persist="taglineMsg"
      client:load
    />
  </TaglineContainer>
  <ScrollToPageBtn
    url="lunar-dev/Main"
    scrollDirection="down"
    slot="scroll-down"
  />
</LandingLayout>
