---
import LandingSectionLayout from "../layouts/landing-section-layout.astro";
import NavController from "../components/NavController";
import Nav from "../components/Nav.astro";
import TaglineContainer from "../components/TaglineContainer";
import TaglineMsg from "../components/TaglineMsg";
import Avatar from "../components/Avatar.astro";
import avatarImg from "../images/BeachHeadshotB&Wjpg.jpg";
import { Icon } from "astro-icon";
---

<LandingSectionLayout>
  <Nav slot="nav" />
  <Avatar slot="avatar" imgSrc={avatarImg} />
  <div slot="title" class="h-fit text-gray-200 lg:p-8">
    <h1
      class="p-3 text-center font-mono text-4xl md:text-6xl lg:text-8xl lg:tracking-tighter"
    >
      Gabriel Kime
    </h1>
    <h2
      class="p-3 text-center font-mono text-2xl tracking-tighter md:text-3xl lg:text-4xl"
    >
      Full-Stack Developer
    </h2>
  </div>
  <TaglineContainer
    slot="subheader"
    client:load
    repositTxt={false}
    animateBg={false}
  >
    <TaglineMsg msg="Dream it. Build it." blinkCursor client:load />
  </TaglineContainer>
  <NavController
    pageUrl="/Main"
    navDirection="next"
    slot="page-scroll-area"
    client:load
  >
    <Icon
      pack="ph"
      name="caret-up"
      height="60"
      width="60"
      data-scroll-icon
      class="cursor-pointer self-center text-gray-100"
    />
  </NavController>
</LandingSectionLayout>
<script>
  const adjustNavBarHeight = () => {
    if (!location.href.includes("Main")) {
      const navBar = document.querySelector("nav");
      navBar.classList.replace("h-[15vh]", "h-fit");
      navBar.classList.replace("lg:h-[5vh]", "h-fit");
    }
  };

  const handleNavPrev = () => {
    const sloganContainer = document.querySelector("[data-subheader-landing]");
    const onLanding = location.href.includes("/Main") ? false : true;
    const navPrev = JSON.parse(localStorage.getItem("navPrev"));
    const handleResetNavPrev = () => {
      localStorage.setItem("navPrev", JSON.stringify(!navPrev));
    };
    if (onLanding && navPrev) {
      sloganContainer.classList.add("translate-y-[50vh]");
      sloganContainer.classList.add("animate-rise-to");
      sloganContainer.addEventListener("animationend", handleResetNavPrev);
    }
  };

  adjustNavBarHeight();
  handleNavPrev();
</script>
