---
import LandingLayout from "../layouts/landing-layout.astro";
import PageScrollWidget from "../components/PageScrollWidget.tsx";
import Nav from "../components/Nav.astro";
import TaglineContainer from "../components/TaglineContainer";
import TaglineMsg from "../components/TaglineMsg";
import Avatar from "../components/Avatar.astro";
import avatarImg from "../images/BeachHeadshotB&W.png";
import { Icon } from "astro-icon";
---

<LandingLayout>
  <Nav slot="nav" />
  <Avatar slot="avatar" imgSrc={avatarImg} />
  <div slot="title" class="h-fit text-gray-200 lg:p-8">
    <h1
      class="p-3 text-center font-mono text-4xl md:text-6xl lg:text-8xl lg:tracking-tighter"
    >
      Gabriel Kime
    </h1>
    <h2
      class="p-3 text-center font-mono text-2xl tracking-tighter md:text-3xl lg:text-4xl"
    >
      Full-Stack Developer
    </h2>
  </div>
  <TaglineContainer slot="subheader" repositTxt={false} animateBg={false}>
    <TaglineMsg
      msg="Dream it. Build it."
      blinkCursor
      transition:persist="taglineMsg"
      client:load
    />
  </TaglineContainer>
  <PageScrollWidget
    pageUrl="/lunar-dev/Main"
    scrollDirection="down"
    slot="scroll-down"
    client:load
  >
    <Icon
      pack="ph"
      name={`caret-${"up"}`}
      height="60"
      width="60"
      data-scroll-icon
      class="animate-pulse cursor-pointer self-center text-gray-100"
    />
  </PageScrollWidget>
</LandingLayout>
