---
import Landing from "../sections/Landing.astro";
import Info from "../sections/Info.astro";
---

<main slot="page" class="flex h-fit w-full flex-col">
  <Landing />
  <Info />
</main>
<script src="../scripts/transition.ts"></script>
