---
import CommonLayout from "../layouts/common-layout.astro";
import MainLayout from "../layouts/main-layout.astro";
import Nav from "../components/Nav.astro";
import NavController from "../components/NavController";
import TaglineContainer from "../components/TaglineContainer";
import TaglineMsg from "../components/TaglineMsg";
import Skyline from "../components/bgEffects/Skyline";
import About from "../components/About.astro";
import Portfolio from "../components/Portfolio.astro";
import Tech from "../components/Tech.astro";
import Slogan from "../components/Slogan.astro";
import { Icon } from "astro-icon";
---

<CommonLayout>
  <MainLayout data-info-page slot="page">
    <Nav slot="nav">
      <NavController client:load navDirection="prev" pageUrl="/lunar-dev">
        <Icon
          pack="ph"
          name="caret-down"
          height="60"
          width="60"
          data-scroll-icon
          class="animate-pulse cursor-pointer self-center text-gray-100"
        />
      </NavController>
    </Nav>
    <div
      data-subheader-main
      class="relative z-10 flex h-32 w-2/3 animate-fall-to justify-center"
      slot="subheader"
    >
      <Skyline client:load />
      <TaglineContainer repositTxt={true} animateBg client:load>
        <TaglineMsg
          msg="Dream it. Build it."
          blinkCursor={false}
          client:load
          transition:persist="taglineMsg"
        />
      </TaglineContainer>
    </div>
    <About slot="about" />
    <Portfolio slot="portfolio" />
    <Slogan slot="slogan" />
    <Tech slot="tech" />
  </MainLayout>
</CommonLayout>
<script>
  const infoContainer = document.querySelector("[data-info-container]");
  const handleStopPropagation = (e: WheelEvent) => e.stopPropagation();
  infoContainer.addEventListener("wheel", handleStopPropagation);

  // document.addEventListener("astro:page-load", () => {
  //   if (!location.href.includes("Main")) return;
  //   console.log("main");
  //   const infoContainer = document.querySelector("[data-info-container]");
  //   infoContainer.addEventListener("wheel", handleStopPropagation);
  // });

  const url = location.href;
  if (url.includes("Main")) {
    const header = document.querySelector("header");
    const subHeader = document.querySelector("[data-subheader-main]");
    const content = document.querySelector("[data-info-container]");
    const mainContainer = document.querySelector("main");
    const handleExpandContent = (e, header, content) => {
      header.classList.add("hide");
      subHeader.classList.add("hide");
      content.classList.add("expand");
      mainContainer.classList.add("expand");
    };

    const handleShowHeader = (e, header, content) => {
      header.classList.remove("hide");
      subHeader.classList.remove("hide");
      content.classList.remove("expand");
      mainContainer.classList.remove("expand");
    };

    content.addEventListener("wheel", (e: WheelEvent) => {
      e.deltaY < 0 && content.scrollTop <= 0
        ? handleShowHeader(e, header, content)
        : handleExpandContent(e, header, content);
    });
    let touchStartPosit;
    let touchEndPosit;
    content.addEventListener("touchstart", (e: TouchEvent) => {
      touchStartPosit = e.touches[0].clientY;
    });
    content.addEventListener("touchmove", (e: TouchEvent) => {
      touchEndPosit = e.touches[0].clientY;
      touchStartPosit < touchEndPosit && content.scrollTop <= 0
        ? handleShowHeader(e, header, content)
        : handleExpandContent(e, header, content);
    });
  }
</script>
