---
import MainLayout from "../layouts/main-layout.astro";
import ContentLayout from "../layouts/content-layout.astro";
import Nav from "./components/Nav.astro";
import ScrollToPageBtn from "./components/ScrollToPageBtn.astro";
import TaglineContainer from "./components/TaglineContainer";
import TaglineMsg from "./components/TaglineMsg";
import AnimatedSkyline from "./components/AnimatedSkyline";
import About from "./components/About.astro";
import Portfolio from "./components/Portfolio.astro";
import Tech from "./components/Tech.astro";
---

<MainLayout>
  <ContentLayout data-info-page slot="page">
    <Nav slot="nav">
      <div data-scrollable class="h-1/2 w-fit self-center justify-self-center">
        <ScrollToPageBtn scrollDirection="up" url="/" />
      </div>
    </Nav>
    <div
      data-subheader-main
      class="relative z-10 flex h-32 w-2/3 animate-fall-to justify-center"
      slot="subheader"
    >
      <AnimatedSkyline client:load />
      <TaglineContainer repositTxt={true} animateBg client:load>
        <TaglineMsg
          msg="Dream it. Build it."
          blinkCursor={false}
          client:load
          transition:persist="taglineMsg"
        />
      </TaglineContainer>
    </div>
    <About slot="about" />
    <Portfolio slot="portfolio" />
    <Tech slot="tech" />
    <script src="../scripts/navigateUtility.ts"></script>
    <script>
      document.addEventListener("astro:page-load", () => {
        const infoContainer = document.querySelector("[data-info-container]");
        const scrollableArea = document.querySelector("[data-scrollable]");
        if (infoContainer) {
          infoContainer.addEventListener("wheel", (e) => e.stopPropagation());
        }
      });
    </script>
  </ContentLayout>
</MainLayout>
