---
import MainLayout from "../layouts/main-layout.astro";
import ContentLayout from "../layouts/content-layout.astro";
import Nav from "./components/Nav.astro";
import ScrollToPageBtn from "./components/ScrollToPageBtn.astro";
import SubHeader from "./components/SubHeader";
import AnimatedSkyline from "./components/AnimatedSkyline";
import About from "./components/About.astro";
import Portfolio from "./components/Portfolio.astro";
import Tech from "./components/Tech.astro";
---

<MainLayout>
  <ContentLayout data-info-page slot="page">
    <Nav slot="nav">
      <div data-scrollable class="h-1/2 w-fit self-center justify-self-center">
        <ScrollToPageBtn scrollDirection="up" url="/" />
      </div>
    </Nav>
    <div
      data-subheader-main
      class="relative z-10 flex h-32 w-2/3 animate-fall-to justify-center"
      slot="subheader"
    >
      <AnimatedSkyline client:only />
      <SubHeader
        blinkCursor={false}
        repositTxt={true}
        msg="Dream it. Build it."
        client:load
        transition:persist="subheader"
      />
    </div>
    <About slot="about" />
    <Portfolio slot="portfolio" />
    <Tech slot="tech" />
    <script src="../scripts/navigateUtility.ts"></script>
    <script>
      document.addEventListener("astro:page-load", () => {
        const infoContainer = document.querySelector("[data-info-container]");
        const scrollableArea = document.querySelector("[data-scrollable]");
        if (infoContainer) {
          const subheader = document.querySelectorAll("[data-subheader]")[0];
          // const effects = document.querySelectorAll("[data-effect]");
          // const renderEffect = (effects) => {
          //   effects.forEach((effect) => {
          //     effect.classList.add("build");
          //     effect.addEventListener("transitionend", (e) => {
          //       const windows = Array.from(effect.children);
          //       windows.forEach((window) => {
          //         window.classList.add("show");
          //       });
          //     });
          //   });
          // };

          // subheader.addEventListener("animationend", () =>
          //   renderEffect(effects),
          // );

          infoContainer.addEventListener("wheel", (e) => e.stopPropagation());
        }
      });
    </script>
  </ContentLayout>
</MainLayout>
