---
import Home from "../homePageSections/Landing.astro";
import About from "../homePageSections/About.astro";
---

<main slot="page" class="flex h-fit w-full flex-col">
  <Home />
  <About />
</main>
<script src="../scripts/transition.ts"></script>
