---
import { Icon } from 'astro-icon';
---
<div>
  <h3 class="font-mono font-semibold text-2xl">My Socials</h3>
  <div class="flex gap-2">
    <a class="flex gap-1" href="https://github.com/wizardbusiness"><Icon pack="ant-design" name="github-outlined" width="25" height="25"/>Github</a>
    <a class="flex gap-1" href="https://www.linkedin.com/in/gabriel-kime/"><Icon pack="ant-design" name="linkedin-outlined" width="25" height="25"/>LinkedIn</a>
  </div>
</div>