---
import TechList from "./components/TechList.tsx"

---

<section class="p-5">
  <h2 class="font-mono font-semibold text-2xl pb-3">Tech</h2>
  <TechList categories={['Languages', 'Runtime', 'Frameworks/Libraries', 'Testing', 'Deployment']}/>
</section>