<div>
  <h2
    class="font-mono text-2xl text-slate-300 underline decoration-slate-300 underline-offset-[10px] lg:text-5xl"
  >
    About Me
  </h2>
  <p class="text pt-8 font-mono text-slate-200 lg:text-2xl">
    Hi, I'm <b class="font-bold">Gabriel</b>. I'm a full-stack software engineer
    whose passion is creating fantastical apps and fun websites! <br />
    <br />
     Night owl living in the coastal forests of the pacific northwest. I like my
    coffee like my code editor theme, dark. Tiny house dweller, forest roamer,
    and beach comber. When at home and not typing code, you might catch me
    petting my wildcat or decanting a fresh cup while brewing up fresh ideas.
  </p>
</div>
