<div>
  <h2
    class="font-mono text-2xl text-slate-300 underline decoration-slate-300 underline-offset-[10px] lg:text-5xl"
  >
    About Me
  </h2>
  <p class="text pt-8 font-mono text-slate-200 lg:text-2xl">
    Hi, I'm <b class="font-bold">Gabriel</b>. I'm a full-stack software engineer
    whose passion is creating fantastical apps and fun websites! <br />
    <br />
     I currently reside on the Olympic Peninsula in Washington State, where I'm
    an avid hiker and beachgoer. When at home and not coding, I enjoy cooking,
    gardening, and music.
  </p>
</div>
