---
import { Image } from "astro:assets";
import avatarImg from "../images/BeachHeadshotB&W.png";
import avatarImgMin from "../images/BeachHeadshotB&Wmin.png";
---

<div
  class="fade-out-on-transition relative flex h-[40%] items-center justify-center"
>
  <div
    class="absolute h-[27vh] w-[27vh] rounded-full bg-moon-shine bg-cover bg-center lg:h-[27vh] lg:w-[27vh]"
  >
  </div>
  <div
    class="absolute h-[30vh] w-[30vh] rounded-full bg-moon-shine blur-lg lg:h-[31vh] lg:w-[31vh]"
  >
  </div>
  <div
    class={`absolute h-[25vh] w-[25vh] overflow-hidden rounded-full border-4 border-gray-400 lg:h-[25vh] lg:w-[25vh] lg:border-4 bg-[url('src/images/BeachHeadshotB&Wmin.png')] bg-[0%_60%] bg-no-repeat bg-cover`}
  >
    <Image
      src={avatarImg}
      class={`-translate-y-[15%]`}
      alt="Picture of me!"
      widths={[240, 360, 500, avatarImg.width]}
      sizes={`(max-width: 360px) 240px, (max-width: 720px) 360px, (max-width: 1600px) 500px, ${avatarImg.width}px`}
    />
  </div>
</div>
