---
import { Image } from "astro:assets";
const { imgSrc } = Astro.props;
---

<div class="relative flex h-[40%] items-center justify-center">
  <div
    class="absolute h-[22vh] w-[22vh] rounded-full bg-moon-shine lg:h-[27vh] lg:w-[27vh]"
  >
  </div>
  <div
    class="absolute h-[25vh] w-[25vh] rounded-full bg-moon-shine blur-sm lg:h-[31vh] lg:w-[31vh]"
  >
  </div>
  <div
    class="absolute h-[20vh] w-[20vh] overflow-hidden rounded-full border-4 border-gray-400 lg:h-[25vh] lg:w-[25vh] lg:border-4"
  >
    <Image
      src={imgSrc}
      class="-translate-y-[15%]"
      alt="Picture of me."
      width={256}
      height={256}
    />
  </div>
</div>
