<h2
  class="font-mono text-2xl text-slate-300 underline decoration-slate-300 underline-offset-[10px] lg:text-5xl 2xl:pb-10 2xl:text-9xl"
>
  About Me
</h2>
<p class="pb-8 pt-8 font-mono text-slate-200 lg:text-2xl lg:leading-9 2xl:pb-10 2xl:text-5xl">
  Hi, I'm <b class="font-bold">Gabriel</b> - I'm an eclectic symbol wielder and code crafter, using my
  developer skills and creative powers to conjure dreams into code. My passion is creating enchanted places
  within the dark forest of the modern web. <br />
  <br /><span class="italic text-slate-400 lg:text-xl lg:leading-loose"
    >...<br />A night owl living in the coastal forests of the pacific northwest. I like my coffee like my
    code editor theme, dark. Tiny house dweller, forest roamer and beach comber. When I'm not building
    websites you might catch me petting my wildcat, or decanting a fresh cup as I brew up ideas<br />...</span
  >
</p>
