---
const { animateBg } = Astro.props;
---

<div data-caption-container class="h-[12vh] w-fit">
  <div
    data-caption
    class={`flex items-center h-fit justify-center whitespace-nowrap before:z-auto 
        before:rounded-md xl:before:rounded-xl 2xl:before:rounded-2xl before:bg-foggy-glass 
        before:w-[30rem] before:max-w-[75vw] xl:before:min-w-[30vw] before:h-[12vh] ${
          // before:[transform-origin:bottom] [transform-origin:bottom] scale-[130%]
          animateBg && "opacity-0"
        }`}
  >
    <div class="absolute flex flex-nowrap">
      <slot />
    </div>
  </div>
</div>
