<div
  id="caption-container"
  data-transitioning="false"
  class="static flex h-[12vh] w-fit translate-y-[0vh] items-center justify-center whitespace-nowrap transition-transform duration-[1000ms] ease-out will-change-transform before:z-auto
  before:h-[12vh] before:w-[30rem] before:max-w-[75vw] before:rounded-md
  before:bg-foggy-glass xl:before:min-w-[30vw] xl:before:rounded-xl 2xl:before:rounded-2xl"
>
  <div class="absolute flex h-[12vh] scale-[110%] flex-nowrap">
    <slot />
  </div>
</div>
