<div
  id="caption-container"
  data-transitioning="false"
  data-transition-step=""
  class="relative flex h-[12vh] w-[80vw] translate-y-[0vh] items-center justify-center transition-transform ease-in will-change-transform sm:w-[18rem] md:w-[20rem] lg:w-[31rem]"
>
  <div
    id="caption-container-bg"
    class="max-width-[5rem] absolute h-[12vh] w-full rounded-xl bg-foggy-glass will-change-transform"
  >
  </div>
  <div
    id="caption-container-fg"
    class="absolute flex h-[12vh] w-full flex-nowrap justify-center will-change-transform"
  >
    <slot />
  </div>
</div>
