---
const { animateBg, visible } = Astro.props;
---

<div
  data-caption-container
  class=`w-fit self-center ${
  !visible && "opacity-0"
}`
>
  <div
    data-caption
    class={`flex items-center h-fit justify-center whitespace-nowrap before:z-auto 
        before:h-auto before:w-[70vw] before:self-end
        before:rounded-md before:bg-foggy-glass before:sm:h-28 before:sm:w-[45vw] before:md:w-[35vw] lg:before:w-[43vw] xl:before:w-[32vw]
        2xl:before:w-[22vw] ${
          animateBg &&
          "before:animate-squish-down-sm before:[transform-origin:bottom] lg:before:w-[70vw] lg:before:scale-y-[4%] lg:before:animate-squish-down-lg"
        }`}
  >
    <div class="absolute flex flex-nowrap">
      <slot />
    </div>
  </div>
</div>
