<div
  id="caption-container"
  data-transitioning="false"
  data-transition-step=""
  class=`relative flex h-[12vh] w-[80vw] translate-y-[0vh] min-h-[5rem] lg:min-h-[6rem]
    items-center justify-center transition-transform ease-in
    will-change-transform sm:w-[18rem] md:w-[20rem]
    xl:h-[14vh] lg:w-[27rem] xl:w-[31rem]
    2xl:w-[60rem]`
>
  <div
    id="caption-container-bg"
    class="absolute bottom-0 z-30 h-full w-full 2xl:w-[90%] lg:max-width-[20%] rounded-xl 2xl:rounded-3xl bg-foggy-glass will-change-transform"
  >
  </div>
  <div
    id="caption-container-fg"
    class="absolute bottom-0 z-50 flex h-full w-full flex-nowrap justify-center will-change-transform"
  >
    <slot />
  </div>
</div>
