<div
  id="caption-container"
  data-transitioning="false"
  class="relative flex h-[12vh] w-[31rem] translate-y-[0vh] justify-center transition-transform duration-[1000ms] will-change-transform"
>
  <div id="caption-container-bg" class="absolute h-[12vh] w-[31rem] rounded-xl bg-foggy-glass"></div>
  <div id="caption-container-fg" class="absolute flex h-[12vh] w-[31rem] flex-nowrap justify-center">
    <slot />
  </div>
</div>
