---
import { Icon } from "astro-icon";
import ContactInfo from "./ContactInfo";
---

<nav
  class="grid-cols-nav-mobile grid h-fit w-full grid-rows-1 items-center justify-between gap-1 text-gray-100 lg:justify-center lg:p-0 xl:h-16 xl:grid-cols-nav-lg"
>
  <div class="col-start-2 flex h-fit justify-center lg:col-start-2">
    <slot />
  </div>
  <section
    class="col-start-1 flex gap-2 text-xl lg:col-start-3 lg:justify-end lg:gap-3 lg:text-2xl"
  >
    <ContactInfo client:load />
    <textarea
      data-contact-info
      value="gabrieljkime@gmail.com"
      class="position: fixed -z-10 h-0 w-0 text-transparent"
      >gabrieljkime@gmail.com</textarea
    >
    <a
      href="/lunar-dev/Resume"
      target="_blank"
      class="decoration-double hover:underline">Resume</a
    >
  </section>
  <div
    class="lg:text-bg-gray-100 col-start-2 justify-center p-2 text-center text-transparent lg:col-start-4 lg:text-3xl lg:text-gray-100"
  >
    |
  </div>
  <section
    class="col-start-3 flex justify-end gap-1 lg:col-start-5 lg:justify-start"
  >
    <a
      class="group flex items-center rounded-md pl-0 hover:bg-gray-100"
      href="https://github.com/wizardbusiness"
      target="_blank"
      ><Icon
        class="justify-center group-hover:text-gray-800"
        pack="ant-design"
        name="github-outlined"
        width="35"
        height="35"
      /></a
    >
    <a
      class="group flex rounded-md p-1 hover:bg-gray-100"
      href="https://www.linkedin.com/in/gabriel-kime/"
      target="_blank"
      ><Icon
        class="group-hover:text-gray-600"
        pack="ant-design"
        name="linkedin-outlined"
        width="35"
        height="35"
      /></a
    >
  </section>
</nav>
<script>
  document.addEventListener("astro:page-load", () => {
    const contactInfo: HTMLTextAreaElement = document.querySelector(
      "[data-contact-info]",
    );
    const selectContactInfoBtn = document.querySelector("[data-copy-info]");
    const isIosDevice = navigator.userAgent.match(/ipad|iphone/i);
    const copyInfo = () => {
      try {
        navigator.clipboard.writeText(contactInfo.value);
      } catch (err) {
        console.log(err);
      } finally {
        console.log("clicked");
      }
    };
    selectContactInfoBtn.addEventListener("click", () => {
      copyInfo();
    });
  });
</script>
