---
import { Icon } from "astro-icon";
import ContactInfo from "./ContactInfo";
const { location } = Astro.props;
---

<nav
  class=`${location === "landing-section" ? "landing-transition-group" : ""} ${location === "info-section" ? "info-section-nav-bar opacity-0 transition-opacity duration-[500ms]" : ""} flex items-center justify-between text-gray-100 lg:h-[5vh] lg:justify-end xl:h-[7vh] 2xl:h-[10vh]`
>
  <section class="flex gap-[5%] p-[0.5em] text-xl lg:justify-end lg:text-2xl xl:text-4xl 2xl:text-6xl">
    <ContactInfo client:load />
    <a href="/Resume" class="decoration-double hover:underline">Resume</a>
  </section>
  <div
    class="lg:text-bg-gray-100 justify-center p-2 text-center text-transparent lg:text-3xl lg:text-gray-100 2xl:text-6xl"
  >
    |
  </div>
  <section class="col-start-3 flex justify-end gap-[5%] p-[0.5em] lg:col-start-5 lg:justify-start">
    <a
      class="group flex items-center rounded-md pl-0 hover:bg-gray-100"
      href="https://github.com/wizardbusiness"
      target="_blank"
      ><Icon
        class="h-[4vh] w-[4vh] justify-center group-hover:text-gray-800"
        pack="ant-design"
        name="github-outlined"
        width="35"
        height="35"
      /></a
    >
    <a
      class="group flex rounded-md p-1 hover:bg-gray-100"
      href="https://www.linkedin.com/in/gabriel-kime/"
      target="_blank"
      ><Icon
        class="h-[4vh] w-[4vh] group-hover:text-gray-600"
        pack="ant-design"
        name="linkedin-outlined"
        width="35"
        height="35"
      /></a
    >
  </section>
</nav>
