<div class="pt-2">
  <div class="flex">
    <h2
      class="pb-2 font-mono text-2xl text-slate-300 underline decoration-slate-400 underline-offset-[10px] lg:text-5xl"
    >
      Constructions
    </h2>
  </div>
  <div class="flex flex-col gap-2 pt-4 text-2xl text-slate-300 lg:text-3xl">
    <ul class="pl-8 leading-relaxed [list-style-type:square]">
      <li class="decoration-double hover:underline"><a href="">Stewpot</a></li>
      <li class="decoration-double hover:underline"><a href="">Plantr</a></li>
      <li class="decoration-double hover:underline"><a href="">SeeQr</a></li>
    </ul>
  </div>
</div>
