<div class="pt-2">
  <div class="flex">
    <h2
      class="pb-2 font-mono text-5xl text-slate-300 underline decoration-slate-400 underline-offset-[10px]"
    >
      Constructions
    </h2>
  </div>
  <div class="flex flex-col gap-2 pt-4 text-3xl text-slate-300">
    <ul class="pl-8 leading-relaxed [list-style-type:square]">
      <li class="decoration-double hover:underline"><a href="">Stewpot</a></li>
      <li class="decoration-double hover:underline"><a href="">Plantr</a></li>
      <li class="decoration-double hover:underline"><a href="">SeeQr</a></li>
    </ul>
  </div>
</div>
