<div class="flex pt-2">
  <h2
    class="pb-2 font-mono text-2xl text-slate-300 underline decoration-slate-400 underline-offset-[10px] lg:text-5xl 2xl:text-9xl"
  >
    Constructions
  </h2>
</div>
<div class="flex flex-col gap-2 pt-4 text-2xl text-slate-300 lg:text-3xl 2xl:pb-10 2xl:text-5xl">
  <ul class="pl-8 leading-relaxed [list-style-type:square]">
    <li class="decoration-double hover:underline">
      <a href="http://www.seeqrapp.com/" target="_blank">SeeQr</a>
    </li>
    <li class="decoration-double hover:underline">
      <a href="https://github.com/wizardbusiness/stewpot" target="_blank">Stewpot</a>
    </li>
    <li class="decoration-double hover:underline">
      <a href="https://github.com/wizardbusiness/Plantr" target="_blank">Plantr</a>
    </li>
  </ul>
</div>
