---
import { Icon } from "astro-icon";
import "../styles/tailwind.css";
---

<div
  slot="scroll-caret"
  id="scroll-caret"
  class="fade-out-on-transition flex animate-scooch-up flex-col justify-end"
>
  <Icon
    pack="ph"
    name="caret-up"
    height="60"
    width="60"
    data-scroll-icon
    class="w-fit translate-y-4 animate-pulse cursor-pointer self-center text-center text-gray-400 opacity-30"
  />
</div>
