---
import { Icon } from "astro-icon";
import "../styles/tailwind.css";

const { section } = Astro.props;
---

<div
  slot="scroll-caret"
  id="scroll-caret"
  class=`
    fade-out-on-transition flex items-center
    ${ section === "landing" && "-translate-y-[25%] lg:translate-y-[5vh] animate-fade-in opacity-0" }
    ${ section === "info" && "-translate-y-[8vh] md:-translate-y-[3vh] opacity-0 scale-75" } 
    transition-all duration-1000 flex-col justify-end
    text-gray-400
  `
>
  <div class="flex animate-pulse flex-col items-center">
    <Icon
      pack="ph"
      name="caret-up"
      height="60"
      width="60"
      data-scroll-icon
      class="w-fit cursor-pointer text-center opacity-30"
    />
    <div id="caret-text" class="h-fit -translate-y-[65%] tracking-wider"></div>
  </div>
</div>
<script>
  const caretsText = document.querySelectorAll("#caret-text");
  const checkIfTouchDevice = () => {
    return "ontouchstart" in window || navigator.maxTouchPoints > 0;
  };

  const displayCaretTextForDevice = (caretsText) => {
    const isTouchDevice = checkIfTouchDevice();
    if (isTouchDevice) {
      caretsText.forEach((caret: HTMLElement) => (caret.textContent = "Swipe"));
    } else {
      caretsText.forEach((caret: HTMLElement) => (caret.textContent = "Scroll"));
    }
  };

  displayCaretTextForDevice(caretsText);
</script>
