<p
  class="bg-inherit text-center text-3xl tracking-wide text-slate-400 opacity-50 lg:translate-y-4 lg:text-6xl"
>
  <b>You</b>&nbsp;
  <span class="bg-inherit tracking-widest lg:text-6xl">dream</span>
   it&nbsp;.&nbsp;.&nbsp;.
</p>
<p
  class="text-center text-3xl tracking-wide text-slate-400 opacity-50 lg:translate-x-32 lg:translate-y-3 lg:text-6xl"
>
  &nbsp;.&nbsp;.&nbsp;. I'll handle the rest
</p>
