<div class="absolute left-[20vw] top-[80vh]">
  <p
    class="-translate-x-28 translate-y-3 text-center text-6xl tracking-wide text-slate-400 opacity-50"
  >
    <b>You</b>&nbsp;
    <span class="text-6xl tracking-widest">dream</span>
     it&nbsp;.&nbsp;.&nbsp;.
  </p>
  <p
    class="translate-x-28 translate-y-3 text-center text-6xl tracking-wide text-slate-400 opacity-50"
  >
    <br /> &nbsp;.&nbsp;.&nbsp;. I'll handle the rest
    <br />
    <br />
  </p>
</div>
