---
import TechList from "./TechList.tsx";

const categories = {
  Languages: ["Typescript", "Javascript ES6+", "Python", "SQL", "HTML/CSS"],
  Runtimes: ["Node.js", "Electron.js"],
  "Frameworks/Libraries": [
    "React.js",
    "Redux",
    "Astro",
    "MaterialUI",
    "RadixUI",
    "Tailwind.css",
    "Express.js",
  ],
  Testing: ["Jest", "Testing Library", "Selenium", "Puppeteer"],
};
---

<h2
  class="pb-3 font-mono text-2xl underline decoration-slate-400 underline-offset-[10px] lg:text-5xl"
>
  Tech I Use
</h2>
<TechList client:load categories={categories} />
<script>
  const techContainer = document.querySelector("#tech-section");
  const flavorText = document.querySelector("[data-flavor-text]");
  const openAllBtn: HTMLButtonElement =
    document.querySelector("[data-open-all]");
  techContainer.addEventListener("animationstart", () => {
    const openAll = openAllBtn.dataset.openAll;
    openAll
      ? flavorText.classList.add("animate-long-blink")
      : flavorText.classList.remove("animate-long-blink");
  });
  techContainer.addEventListener("animationend", () => {
    techContainer.scrollIntoView({ behavior: "smooth", block: "end" });
  });
</script>
