---
import CommonHead from "./common-head-layout.astro";
---

<html class="w-screen">
  <CommonHead />
  <body
    class="flex h-screen w-full flex-grow justify-center overflow-clip bg-dusk font-sans"
  >
    <slot name="page" />
    <script>
      const blockMoveOnTouch = (e: Event) => {
        e.preventDefault();
        e.stopPropagation();
      };
      const body = document.querySelector("body");
      body.addEventListener("touchmove", blockMoveOnTouch);
    </script>
  </body>
</html>
