---
import CommonHead from "./common-head-layout.astro";
---

<html class="w-screen">
  <CommonHead />
  <body
    class="flex h-screen w-full flex-grow justify-center overflow-clip bg-dusk font-sans"
  >
    <slot name="page" />
    <script>
      const handleOrientationChange = () => {
        const body = document.querySelector("body");
        const bClassList = body.classList;
        bClassList.contains("overflow-scroll")
          ? bClassList.replace("overflow-scroll", "overflow-clip")
          : bClassList.replace("overflow-clip", "overflow-scroll");
        console.log(bClassList);
      };
      const handleOrientation = () => {
        const body = document.querySelector("body");
        const bClassList = body.classList;
        if (window.innerHeight > window.innerWidth) {
          bClassList.replace("overflow-scroll", "overflow-clip");
        } else {
          bClassList.replace("overflow-clip", "overflow-scroll");
        }
      };
      if (!location.href.includes("/Main")) {
        window.addEventListener("load", handleOrientation);
        window.addEventListener("orientationchange", handleOrientationChange);
      }
    </script>
  </body>
</html>
