---
import CommonHead from "./common-head-layout.astro";
---

<html class="w-full">
  <CommonHead />
  <body class="flex h-screen w-full flex-grow justify-center bg-dusk font-sans">
    <slot name="page" />
  </body>
</html>
