---
import CommonHead from "./CommonHead.astro";
---

<html class="w-full">
  <CommonHead />
  <body class="bg-dusk flex h-screen w-full flex-grow justify-center font-sans">
    <slot name="page" />
  </body>
</html>
