<main
  class="flex h-full w-full flex-col items-center overflow-scroll p-8 pb-0 pt-4"
>
  <header class="flex w-full">
    <slot name="nav" />
  </header>

  <slot name="subheader" />
  <div
    data-info-container
    class="flex h-full animate-impact flex-col gap-8 bg-slate-700 p-8 text-gray-100 shadow-xl"
  >
    <slot name="about" />
    <slot name="portfolio" />
    <slot name="tech" />
  </div>
</main>
