<main class="flex h-full w-full flex-col items-center p-8 pt-4">
  <header class="flex w-full">
    <slot name="nav" />
  </header>

  <slot name="subheader" />
  <div class="flex h-full flex-col gap-8 bg-white p-8 text-gray-600 shadow-xl">
    <slot name="about" />
    <slot name="portfolio" />
    <slot name="tech" />
  </div>
</main>
