<main
  transition:animate="initial"
  class="bg-8 flex flex-grow flex-col items-center gap-4 pt-8"
>
  <slot name="scroll-up" />
  <slot name="subheader" />
  <div class="flex h-full flex-col gap-8 bg-white p-8 text-gray-600 shadow-xl">
    <slot name="about" />
    <slot name="portfolio" />
    <slot name="tech" />
  </div>
</main>
