<main transition:animate="initial" class="flex flex-col flex-grow pt-8 bg-8 gap-8 items-center">
  <slot name="scroll-up"/>
  <slot name="subheader" />
  <div class="flex flex-col bg-white shadow-xl p-8 gap-8 h-full">
    <slot name="about" />
    <slot name="portfolio" />   
    <slot name="tech" />
  </div>
</main>

