---
import "../styles/tailwind.css";
---

<section
  id="info"
  class="flex h-fit w-full flex-col items-center pb-0 lg:pt-4 2xl:min-h-screen 2xl:p-8 2xl:pb-0 2xl:pt-4"
>
  <header class="h-[10vh] w-full">
    <slot name="nav" />
    <slot name="caret" />
  </header>
  <div
    data-pre-nav-open="false"
    data-pre-nav-opening="false"
    data-pre-nav-closing="false"
    id="nav-check"
    class="h-0 w-full transition-[height] duration-[1500ms] ease-out"
  >
  </div>
  <div
    id="info-section-content-group"
    class="flex h-full translate-y-[100vh] flex-col items-center text-gray-200 transition-transform duration-[1300ms] ease-in-out lg:w-[75vw]"
  >
    <div class="caption-info-container relative flex h-[12vh] flex-col items-center">
      <slot name="skyline" />
      <slot name="caption-container" />
    </div>
    <section class="h-full bg-blue-smoke p-8 shadow-xl 2xl:p-24">
      <slot name="about" />
      <div class="flex gap-2">
        <div class="w-full">
          <slot name="portfolio" />
        </div>
        <aside class="flex h-full w-full items-center pl-2">
          <slot name="flav-text-a" />
        </aside>
      </div>
      <div class="flex">
        <!-- id is used to automatically scroll into view when expanded, see Tech.astro script -->
        <div id="tech-section" class="w-full">
          <slot name="tech" />
        </div>
        <aside class="h-full w-full pl-2 pt-14">
          <slot name="flav-text-b" />
        </aside>
      </div>
    </section>
  </div>
</section>
