---
const anim = {
  old: {
    name: "riseto",
    duration: "0.5s",
    easing: "ease-out",
    fillMode: "forwards",
  },
  new: {
    name: "riseto",
    duration: "0.5s",
    easing: "ease-out",
    fillMode: "backwards",
  },
};

const rise = {
  forwards: anim,
  backwards: anim,
};
---

<main
  class="flex h-full w-full flex-col items-center justify-between p-4 pt-2 lg:p-8 lg:pt-4"
>
  <div
    data-transition-group
    class="flex h-[70%] w-full flex-col justify-around"
  >
    <div class="flex w-full justify-center">
      <slot name="nav" />
    </div>
    <slot name="avatar" />
    <slot name="title" />
  </div>
  <div
    data-subheader-landing
    class="flex h-fit w-full justify-center lg:w-2/3"
    transition:animate={rise}
  >
    <!-- this is so dumb -->
    <div class="animate-rise-to"></div>
    <slot name="subheader" />
  </div>
  <div class="flex h-fit items-center">
    <slot name="scroll-down" />
  </div>
</main>
