<div class="flex flex-col items-center w-full p-8 pt-4 h-full">
  <slot name="nav" />
  <slot name="avatar" />
  <div class="text-gray-200 p-8">
    <h1 class="font-mono text-9xl text-center tracking-tighter p-3">Gabriel Kime</h1>
    <h2 class="font-mono text-4xl text-center tracking-tighter p-3">Full-Stack Developer</h2>
  </div> 
  <slot name="subheader" />
  <slot name="swipedown" />
</div>
