---
const anim = {
  old: {
    name: "riseto",
    duration: "0.5s",
    easing: "ease-out",
    fillMode: "forwards",
  },
  new: {
    name: "riseto",
    duration: "0.5s",
    easing: "ease-out",
    fillMode: "backwards",
  },
};

const rise = {
  forwards: anim,
  backwards: anim,
};
---

<main class="flex h-full w-full flex-col items-center p-4 pt-2 lg:p-8 lg:pt-4">
  <div
    data-transition-group
    class="flex h-[55%] w-full flex-col justify-around gap-4 md:h-[65%] lg:h-[70%]"
  >
    <div class="flex w-full justify-center">
      <slot name="nav" />
    </div>
    <slot name="avatar" />
    <slot name="title" />
  </div>
  <div
    data-subheader-landing
    class="flex h-fit justify-center"
    transition:animate={rise}
  >
    <!-- this is so dumb -->
    <div class="animate-rise-to"></div>
    <slot name="subheader" />
  </div>
  <slot name="scroll-down" />
</main>
