<section
  id="landing"
  class="min-height-screen flex h-screen w-full flex-grow flex-col p-4 pb-0 pt-2 transition-[height] lg:p-8 lg:pb-2 lg:pt-4"
>
  <header class="h-[10%] w-full">
    <slot name="nav" />
  </header>
  <div class="max-height-fit flex h-[30%] items-center justify-center">
    <slot name="avatar" />
  </div>
  <div class="flex h-[20%] w-full items-center justify-center whitespace-nowrap">
    <slot name="title" />
  </div>
  <div class="flex h-[20%] w-full items-center justify-center">
    <div
      class="caption-landing-container width-[30vw] flex h-[12vh] flex-1 items-center justify-center lg:items-center"
    >
      <slot name="caption-container" />
    </div>
  </div>
  <div class="align-start flex justify-center">
    <slot name="scroll-caret" />
  </div>
</section>
