<section
  id="landing"
  class="flex h-screen w-full flex-grow flex-col justify-between p-4 pt-2 lg:p-8 lg:pt-4"
>
  <header class="h-fit w-full">
    <slot name="nav" />
  </header>
  <slot name="avatar" />
  <slot name="title" />
  <slot name="caption-container" />
  <slot name="scroll-caret" />
</section>
