<main
  class="flex h-full w-full flex-col items-center p-4 pb-0 pt-4 lg:p-8 lg:pb-0"
>
  <header class="header flex w-full flex-col items-center">
    <slot name="nav" />
    <slot name="subheader" />
  </header>
  <div
    data-info-container
    class="flex h-full w-[90vw] flex-col gap-4 overflow-scroll bg-blue-smoke p-8 text-gray-200 shadow-xl lg:w-[70vw]"
  >
    <slot name="about" />
    <slot name="portfolio" />
    <div class="flex">
      <slot name="tech" />
      <slot name="slogan" />
    </div>
  </div>
</main>
