---
import CommonHead from "./common-head-layout.astro";
import Stars from "../components/bgEffects/Stars.astro";
---

<html class="scrollbar-hide h-screen w-screen overscroll-none">
  <CommonHead />
  <body
    data-in-transition="false"
    data-section="landing"
    class="flex h-screen w-full flex-grow flex-col justify-center overscroll-none bg-dusk font-sans"
  >
    <Stars />
    <main class="h-screen">
      <slot name="landing-section" />
      <slot name="info-section" />
    </main>
    <script src="../scripts/transition.ts"></script>
    <script>
      const handleOrientationChange = () => {
        const body = document.querySelector("body");
        const bClassList = body.classList;
        bClassList.contains("overflow-scroll")
          ? bClassList.replace("overflow-scroll", "overflow-hidden")
          : bClassList.replace("overflow-hidden", "overflow-scroll");
        console.log(bClassList);
      };
      const handleOrientation = () => {
        const body = document.querySelector("body");
        const bClassList = body.classList;
        if (window.innerHeight > window.innerWidth) {
          bClassList.replace("overflow-scroll", "overflow-hidden");
        } else {
          bClassList.replace("overflow-hidden", "overflow-scroll");
        }
      };
      if (!location.href.includes("/Main")) {
        window.addEventListener("load", handleOrientation);
        window.addEventListener("orientationchange", handleOrientationChange);
      }
    </script>
  </body>
</html>
