---
import CommonHead from "./common-head-layout.astro";
import Stars from "../components/bgEffects/Stars.astro";
import Main from "../pages/Main.astro";
---

<html class="scrollbar-hide h-screen w-screen overflow-x-clip overscroll-none">
  <CommonHead />
  <body
    data-in-transition="false"
    data-section="landing"
    class="flex h-fit w-full flex-col justify-center overflow-x-clip overscroll-none bg-dusk font-sans"
  >
    <Stars />
    <slot name="page" />
    <script>
      const handleOrientationChange = () => {
        const body = document.querySelector("body");
        const bClassList = body.classList;
        bClassList.contains("overflow-scroll")
          ? bClassList.replace("overflow-scroll", "overflow-hidden")
          : bClassList.replace("overflow-hidden", "overflow-scroll");
      };
      const handleOrientation = () => {
        const body = document.querySelector("body");
        const bClassList = body.classList;
        if (window.innerHeight > window.innerWidth) {
          bClassList.replace("overflow-scroll", "overflow-hidden");
        } else {
          bClassList.replace("overflow-hidden", "overflow-scroll");
        }
      };
      if (!location.href.includes("/Main")) {
        // window.addEventListener("load", handleOrientation);
        // window.addEventListener("orientationchange", handleOrientationChange);
      }
    </script>
  </body>
</html>
