---
import CommonHead from "./CommonHead.astro";
---
<html class="w-full">
  <CommonHead />
  <body class="font-sans flex flex-grow justify-center bg-gray-800 h-screen w-full">
      <slot name="page">
  </body>
</html>