---
import Avatar from "../pages/components/Avatar.astro";
import SubHeader from "../pages/components/SubHeader";
import Cursor from "../pages/components/Cursor.tsx";
---

<html class="w-full">
  <head>
    <meta charset = "utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content="my personal site" />
  </head>
  <body class="font-sans flex justify-center bg-gray-800 w-full">
     <div class="flex-col items-center justify-center w-2/3 bg-gray-100 p-8 h-screen">
      <header class="flex flex-col gap-8 items-center" >
        <div class="shadow-lg bg-white p-8">
          <h1 class="font-mono text-7xl text-center tracking-tighter p-3 pb-0">Gabriel Kime</h1>
          <h2 class="font-mono text-3xl text-center tracking-tighter p-3">Full-Stack Developer</h2>
        </div> 
        <slot name="subheader" />
        <!-- <Avatar imgSrc="src/images/HeadShot.jpg"/> -->
      </header>
      <main class="flex flex-col pt-8 bg-8 shadow-xl gap-8">
        <slot name="about" />
        <slot name="portfolio" />   
        <slot name="tech" />
        <slot name="socials" />
      </main>
    </div>
  </body>
</html>