---
import CommonHead from "./common-head-layout.astro";
import Stars from "../components/bgEffects/Stars.astro";
---

<html class="w-screen">
  <CommonHead />
  <body
    class="overflow-y scrollbar-hide flex h-fit w-full flex-grow flex-col justify-center overflow-y-auto bg-dusk font-sans"
  >
    <Stars />
    <slot name="landing-section" />
    <slot name="about-section" />
    <script>
      const handleOrientationChange = () => {
        const body = document.querySelector("body");
        const bClassList = body.classList;
        bClassList.contains("overflow-scroll")
          ? bClassList.replace("overflow-scroll", "overflow-hidden")
          : bClassList.replace("overflow-hidden", "overflow-scroll");
        console.log(bClassList);
      };
      const handleOrientation = () => {
        const body = document.querySelector("body");
        const bClassList = body.classList;
        if (window.innerHeight > window.innerWidth) {
          bClassList.replace("overflow-scroll", "overflow-hidden");
        } else {
          bClassList.replace("overflow-hidden", "overflow-scroll");
        }
      };
      if (!location.href.includes("/Main")) {
        window.addEventListener("load", handleOrientation);
        window.addEventListener("orientationchange", handleOrientationChange);
      }
    </script>
  </body>
</html>
