---
import AboutSectionLayout from "../layouts/about-section-layout.astro";
import Nav from "../components/Nav.astro";
import NavController from "../components/NavController";
import TaglineContainer from "../components/TaglineContainer";
import CaptionContainer from "../components/CaptionContainer.astro";
import TaglineMsg from "../components/TaglineMsg";
import Skyline from "../components/bgEffects/Skyline";
import Bio from "../components/Bio.astro";
import Portfolio from "../components/Portfolio.astro";
import Tech from "../components/Tech.astro";
import IllHandleTheRest from "../components/flavorText/IllHandleTheRest.astro";
import YouDreamIt from "../components/flavorText/YouDreamIt.astro";
import { Icon } from "astro-icon";
import _ from "lodash";
---

<AboutSectionLayout data-info-page slot="page">
  <Nav slot="nav">
    <!-- <NavController client:load navDirection="prev" pageUrl="/">
      <Icon
        pack="ph"
        name="caret-down"
        height="60"
        width="60"
        data-scroll-icon
        class="cursor-pointer self-center text-gray-500"
      />
    </NavController> -->
  </Nav>
  <CaptionContainer slot="caption-container" visible={false} animateBg={false}>
    <TaglineMsg msg="Dream it. Build it." blinkCursor client:load />
  </CaptionContainer>
  <Bio slot="about" />
  <Portfolio slot="portfolio" />
  <YouDreamIt slot="flav-text-a" />
  <Tech slot="tech" />
  <IllHandleTheRest slot="flav-text-b" />
</AboutSectionLayout>
