<div
  data-flavor-text
  class="sticky top-[30%] w-fit overflow-hidden text-2xl leading-loose tracking-wide text-slate-400 opacity-40 sm:text-4xl sm:leading-relaxed lg:text-6xl lg:leading-relaxed"
>
  <p class="w-fit text-left">&nbsp;.&nbsp;.&nbsp;. I'll <b>handle</b></p>
  <p class="text-right sm:pr-20 sm:text-center">
    the rest&nbsp;.&nbsp;.&nbsp;.
  </p>
</div>
