<div
  data-flavor-text
  class="sticky top-[25%] w-fit overflow-hidden text-2xl leading-loose tracking-wide text-slate-400 opacity-40 sm:text-4xl sm:leading-relaxed lg:text-6xl lg:leading-relaxed"
>
  <p class="text-left">&nbsp;.&nbsp;.&nbsp;. I'll</p>
  <p class="text-left sm:pr-20 sm:text-center"><b>handle</b></p>
  <p class="text-center sm:pl-24">the</p>
  <p class="pl-5 text-left sm:pl-10">rest&nbsp;.&nbsp;.&nbsp;.</p>
</div>
