<div
  class="w-fit overflow-x-clip text-2xl leading-loose tracking-wide text-slate-400 opacity-40 sm:text-4xl lg:translate-y-4 lg:text-6xl lg:leading-relaxed"
>
  <p class="pl-4 text-left sm:text-center">
    &nbsp;.&nbsp;.&nbsp;.<b>You</b>&nbsp;
  </p>
  <p class="pr-20 text-right sm:text-center">dream</p>
  <p class="text-center sm:pl-24">it&nbsp;.&nbsp;.&nbsp;.</p>
</div>
